<a href="https://colab.research.google.com/github/Kancherla-Amulya/AIML-2303A51242/blob/main/adm_lab_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Question 1: Handling Missing Values
Dataset:
Name       Age            Salary
Alice      25             50000
Bob       NaN             60000
Charlie    30             NaN
David     NaN             70000
Task:
 Fill missing Age values with the median age.
 Drop rows where Salary is missing.

In [8]:
import pandas as pd
import numpy as np

# Creating the dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, np.nan, 30, np.nan],
    'Salary': [50000, 60000, np.nan, 70000]
}

df = pd.DataFrame(data)

# Fill missing Age values with the median age
median_age = df['Age'].median()
df['Age'].fillna(median_age, inplace=True)

# Drop rows where Salary is missing
df.dropna(subset=['Salary'], inplace=True)


print(df)

    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob  27.5  60000.0
3  David  27.5  70000.0

<ipython-input-8-89065d18dca8>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(median_age, inplace=True)

Question 2: Removing Duplicates
Dataset:
Name Age
Alice 25
Bob 30
Alice 25
Charlie 35
Task:
 Identify and remove duplicate rows.

In [2]:
import pandas as pd

# Creating the dataset
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie'],
    'Age': [25, 30, 25, 35]
}

df = pd.DataFrame(data)

# Identify and remove duplicate rows
df.drop_duplicates(inplace=True)

print(df)

      Name  Age
0    Alice   25
1      Bob   30
3  Charlie   35

Question 3: Categorical Encoding

Dataset:
Country
USA
India
UK
India
Task:
 Convert the Country column into numerical labels using Label Encoding.

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Creating the dataset
data = {
    'Country': ['USA', 'India', 'UK', 'India']
}

df = pd.DataFrame(data)

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Convert Country column to numerical labels
df['Country_Label'] = label_encoder.fit_transform(df['Country'])

print(df)

  Country  Country_Label
0     USA              2
1   India              0
2      UK              1
3   India              0

Question 4: Outlier Removal
Dataset:
Item Price
A 5
B 20
C 150
D 30
Task:
 Remove rows where Price is below 10 or above 100.

In [4]:
import pandas as pd

# Creating the dataset
data = {
    'Item': ['A', 'B', 'C', 'D'],
    'Price': [5, 20, 150, 30]
}

df = pd.DataFrame(data)

# Remove rows where Price is below 10 or above 100
df_filtered = df[(df['Price'] >= 10) & (df['Price'] <= 100)]

print(df_filtered)

  Item  Price
1    B     20
3    D     30

Question 5: Column Standardization
Dataset:
Height
160
175
152
168
Task:

 Standardize the Height column so that it has mean = 0 and std = 1.

Submission: Submit your Python script and cleaned dataset. Make sure your code is well-
documented.

In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Creating the dataset
data = {
    'Height': [160, 175, 152, 168]
}

df = pd.DataFrame(data)

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize the Height column
df['Height_Standardized'] = scaler.fit_transform(df[['Height']])

print(df)

   Height  Height_Standardized
0     160            -0.435377
1     175             1.306132
2     152            -1.364183
3     168             0.493428